.no-js #loader { display: none; }
.js #loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../preloader.gif) center no-repeat #fff;
}
